<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <description></description>
  
  
 <!--<script type="text/javascript" src="/js/vis.js"></script>-->
  <!--<link href="/css/vis.css" rel="stylesheet" type="text/css" />-->
  
  <script type="text/javascript" src="/dist/vis.js"></script>
  <script type="text/javascript" src="/js/options.js"></script>
  <link href="/dist/vis.css" rel="stylesheet" type="text/css" />
   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  
  <!--<script src="/js/nodes.js"></script>-->
  <script>
    var nodes = <%-JSON.stringify(data.nodes)%>
    var edges = <%-JSON.stringify(data.edges)%>
  </script>
  
  <style type="text/css">
    #mynetworkFA,
    #mynetworkIO {
      height: 300px;
      width: 700px;
      border:1px solid lightgrey;
    }

    p {
      max-width:700px;
    }
    
    #mynetwork {
      width: 800px;
      height: 600px;
      border: 1px solid lightgray;
    }
    
    #optionsContainer {
      height:280px;
    }
  </style>



<script type="text/javascript">
  var network;

  function redrawAll() {
    
     var optionsFA = {

      };
      
      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };

      var options = getOptions();
      console.log('options', options)


      var network = new vis.Network(container, data, options);
  }

  redrawAll()

</script>


</head>

<body >
<p>

<h1><%= title %></h1>
nodes: <%= data.nodes.length %> 
edges: <%= data.edges.length %>
label: <%= data.manifest.label %>

<div id="selectedContainer"><%= data.selected %></div>

<div id="mynetwork"></div>

<div id="optionsContainer"></div>



<script>

  redrawAll()

</script>

</body>
</html>
